venv/
**/__pycache__/
*.pyc
# Ignore intermediary fractal render frames
fractal-explorer/temp_frames/
fractal-explorer/zoom_frames/
# Ignore chatbot discussions
Chatbot Discussions/
**/Chatbot Discussions/

# Ignore Dev Logs
*Dev Log.md
*dev log.md
*dev-log.md
*Dev-Log.md

